.auth1{
    text-align: center;
    color: #10b5cb;
}
.auth2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400rem !important;
    margin: auto;
    align-items: center;
}
.form{
    margin: 25px;
}
.formContainer {
    padding: 3px !important;
    margin: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 400px!important;
  }
  .metamask-link {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .metamask-image {
    max-width: 100%;
    height: auto;
  }
  